{% extends "posts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<span class="border border-top-50"></span>
<section class="vh-200 bg-image">

    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <img src="../../static/media/logo1.png" class="rounded mx-auto d-block w-25 p-3"
                                 alt="Pinterest">

                            <h2 class=" text-center mb-5">Log in to see more</h2>
<!--                            {% for message in messages %}-->
<!--                            <p id="messages" class="alert alert-warning alert-dismissible fade show">{{message}}</p>-->
<!--                            {% endfor %}-->
                            <form method='Post'>
                                {% csrf_token %}
                                <fieldset class="from-group">
                                    {{ form|crispy }}
                                </fieldset>
                                <br>
                                <div class="form-group">
                                    <button type="submit"
                                            class="btn btn-danger btn-block btn-lg gradient-custom-4 text-body">Login
                                    </button><br>
                                    <small class="text-muted ml-2">
                                        <a href="{% url 'password_reset'%}">Forgot Password??</a>
                                    </small>
                                </div>
                            </form>
                            <div class="border-top pt-3">
                                <small class="text-muted">
                                    Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
                                </small>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}