{% extends "posts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<span class="border border-top-50"></span>
<section class="vh-200 bg-image">

    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <img src="../../static/media/logo1.png" class="rounded mx-auto d-block w-25 p-3"
                                 alt="Pinterest">
                            <h2 class="text-uppercase text-center mb-5">Welcome to Pinterest</h2>
                            <h3 class=" text-center mb-5">Find new ideas to try</h3>
                            <form method='Post'>
                                {% csrf_token %}
                                <fieldset class="from-group">
                                    {{ form|crispy }}
                                </fieldset>
                                <br>
                                <div class="form-group">
                                    <button type="submit"
                                            class="btn btn-danger btn-block btn-lg gradient-custom-4 text-body">Register
                                    </button>
                                    <br>
                                    <p class="text-center text-muted mt-5 mb-0">Have already an account? <a
                                            href="{%url 'login'%}"
                                            class="fw-bold text-body"><u>Login here</u></a></p>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}