{% extends "posts/base.html" %}
{% block content %}
{% for pin in pins %}
<article class="media content-section">
    <div class="media-body">
        <img src="{{ pin.img.url }}">
        <h2><a class="article-title">{{ pin.title }}</a></h2>
        <p class="article-content">{{ pin.description }}</p>
        <a class="mr-2">{{ pin.author.temp_username }}</a>
    </div>
    {% if pin.author == user %}
    <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'pin-update' pin.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1">Delete</a>
    </div>
    {% endif %}
</article>
{% endfor %}
{% endblock content%}
